.containercontacto{
    display: flex;
      
}
.containercontacto1{
    width:70%;
}
.containercontacto2{
    background:
    url(../assets/contacto.jpg) no-repeat ;
    background-size: cover;
    width:30%;
    height: 500px;
    margin: 50px;
}

.inputform{
    -webkit-text-fill-color: rgb(0, 0, 0);
}

.inputform2{
    -webkit-text-fill-color: rgb(0, 0, 0);
}