#root {
    background: url(../assets/fondocw.jpg);
    background-attachment: fixed;
    color: rgb(0, 0, 0);
}

#row {
    width: 100%;
    margin: 0px !important;
}

.imagenxmas {
    width: 100%;
}

.imagenxmas2 {
    display: none;
}

h4 {
    padding-top: 10px;
    -webkit-text-fill-color: rgb(194, 194, 194)
}

.container {
    width: 75vw;
    max-width: 1000px;
    margin: auto;
}

.containerparrafo {
    padding-left: 30px;
}

.imagenprincipal {
    width: 100%;
    max-width: 650px;
}

.iconos {
    max-width: 20%;

    padding-top: 20px;
    padding-bottom: 20px;

}

@media (max-width:1195px) {
    .col h4 {
        font-size: 15px;
    }
}

@media (max-width:800px) {
    .col h4 {
        font-size: 12px;
    }
    .iconos {
        width: 50px;
    }
}

@media (max-width:550px) {
    .imagenxmas {
        display: none;
    }
    .imagenxmas2 {
        display: flex;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:450px) {
#row{
    display: block;
}
}