#root {
    background: url(../assets/fondocw.jpg);
    color: rgb(0, 0, 0);
}

#col1{
    width: 60%;
}

#col2{
    width: 40%;
}

.imagenxmas{
    width: 100%;
    padding-left: 30px;;
}

h4 {
    padding-left: 35px;
    padding-top: 10px;
    -webkit-text-fill-color: rgb(194, 194, 194)
}

.containerparrafo {
    padding-left: 30px;
}

.imagenprincipal {
    padding-right: 20px;
    width: 100%;
}

.iconos{
    max-height: 120px;
    padding: 20px;
    
}

.container-iconos{
    padding-left: 20px;
    display: flex;
    justify-content: space-between

}

@media (max-width:660px) {
    .container-iconos {
     display: contents;
    }
    .iconos{
        width: 100px;
    }
    h4{
    display: none;
    }
}