input{
    background: none;
    border: none;
    -webkit-text-fill-color: rgb(255, 255, 255);
    padding: 10px;
    width: 600px;
}

.datepicker.text-center.pt-3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h6{
    text-decoration: none;
}