.navbar {
    background: url(../assets/fondocw.jpg);
    height: 110px;
    width: 100%;
}

.navbar img {
    padding-left: 10px;
}

.container-fluid {
    flex-direction: row;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 217, 0);
    text-decoration-thickness: 4px;
    text-underline-offset: 5px;
}

.navbar-expand .navbar-collapse {
    justify-content: end;
}

.nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.nav-link.dropdown-toggle.text-light {
    display: flex;
    align-items: center;
}

.dropdown-item.text-light:hover {
    background-color: rgb(182, 158, 25);
}

@media (max-width:700px) {
    .container-fluid {
        display: flex;
        flex-direction: column; 
    }

    .navbar img {
        padding-top: 10px;
        height: 50px;
    }

}

@media (max-width:425px) {

    #navbar-home{
        display: none;
    }

    .navbar h5{
        font-size: 19px;
        
    }
    
}

@media (max-width:345px) {

    .navbar img {
        
        height: 40px;
    }

    .navbar h5{
        font-size: 16px;
        
    }
    
}

@media (max-width:299px) {

    .navbar img {
        
        height: 30px;
    }

    .navbar h5{
        font-size: 13px;
        
    }
    
}