.navbar {
    background: url(../assets/fondopizarra.jpg);
}

.container-fluid {
    flex-direction: column;
}

.nav-link:hover {
    -webkit-text-fill-color: rgb(182, 158, 25);
}

.nav-link{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.nav-link.dropdown-toggle.text-light {
    display: flex;
    align-items: center;
}

.dropdown-item.text-light:hover{
background-color: rgb(182, 158, 25);
}

@media (max-width:540px) {
    .container-fluid img  {
        width: 250px;
    }
}